@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Christian Berr
    10 N High St.<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    419.733.3200
</address>

<address>
    <strong>Personal:</strong>   <a href="mailto:christianmatthewberry@gmail.com">christianmatthewberry@gmail.com</a><br />
    <strong>School:</strong> <a href="mailto:cb716316@ohio.edu">cb716316@ohio.edu</a>
</address>