@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS 4200</h1>
    <p class="lead">This site is currently up to date for SD2.</p>
    <p><a href="ohiocoblms.azurewebsites.net/learn" class="btn btn-primary btn-lg">ISMS &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Students - Classes</h2>
        <p>
            My SD2 relationship is between students and classes. A student can have many classes, and a class can have many students.
        </p>
        <p>
            Links to Controllers:<br />
            @Html.ActionLink("Students", "Index", "Students")<br />
            @Html.ActionLink("ClassDetails", "Index", "ClassDetails")<br />
            @Html.ActionLink("Schedules", "Index", "Schedules")<br />
        </p>
        <p><a class="btn btn-default" href="ohio.edu">Ohio University &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>