@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS 4200</h1>
    <p class="lead">This site is currently up to date for SD2.</p>
    <p><a href="ohiocoblms.azurewebsites.net/learn" class="btn btn-primary btn-lg">ISMS &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Students</h2>
        <p>
            A student can have many classes, and a class can have many students.
        </p>
        <p>
            Links to Controllers:<br />
            @Html.ActionLink("Students", "Index", "Students")<br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Class Details</h2>
        <p>
            Class Details shows the class room, class name, and professor.
        </p>
        <p>
            Links to Controllers:<br />
            @Html.ActionLink("ClassDetails", "Index", "ClassDetails")<br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Schedules</h2>
        <p>
            Schedules depict the schedule that a student owns, with classes and semesters.
        </p>  
        <p>
            Links to Controllers:<br />
            @Html.ActionLink("Schedules", "Index", "Schedules")<br />
        </p>
    </div>
</div>